/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


body{
    background-color: hsl(0, 0%, 95%);

    font-size: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    max-width: 57.5rem;
    min-height: 31rem;

    display: flex;
    justify-content: center;
}

.card{
    background-color: hsl(184, 100%, 22%);
    flex-basis: 100%;

    padding: 2.9rem;

}

.sedan{
    color: hsl(31, 77%, 52%);

    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suv{
    color: hsl(184, 100%, 22%);
}

.luxury{
    color: hsl(179, 100%, 13%);

    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title{

    font-family: 'Big Shoulders Display';
    font-size: 2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);

    display: block;

    padding: 0.5rem 0;
    padding-bottom: 1rem;
}

.card-text{
    font-family: 'Lexend Deca';
    font-size: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
}

a.learn{
    background-color: hsla(0, 0%, 100%);

    border-radius: 3rem;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%);

    font-family: 'Lexend Deca';
    font-size: 15px;
    color: inherit;
    text-decoration: none;

    display: inline-block;

    box-shadow: none;

    padding: 0.8rem 2rem;
    margin-top: 4rem;
}

.learn:hover {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: inherit;
}

.learn:focus {
    color: hsla(0, 0%, 100%, 0.75);
    background-color: inherit;
}

@media (max-width: 610px) {

    main{
        flex-direction: column;
        max-width: 19rem;
    }

    .sedan{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        border-bottom-left-radius: 0px;
        
    }
    
    .luxury{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        border-top-right-radius: 0px;
    }
}

/* Footer */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }